@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{

    /* #main primary colors */
    --main_primary_color: hsl(122.42, 39.44%, 49.22%);
    --primary_white_color: #fff;
    --paragraph_grey_color: hsl(228, 12%, 75%);
    --primary_black_color: rgb(8, 8, 8);
    --main_link_color: hsl(228, 12%, 20%);
}
body{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
.topContainer{
    background-color: var(--main_primary_color);
    position: sticky;
    bottom: 0;
    right: 0;
}
/* logo section here  */
.logoContainer img{
    height: 50px;
    margin-inline-start: 1rem;
    margin-block-start: 1rem;
}

/* hamburger section here  */
#input{
    display: none;
}
.hamburgerElement{
    position: relative;
    width: 3rem;
    height: 2rem;
    display: inline-block;
    margin-top: 1.5rem;
    margin-inline-end: 1rem;
    display: flex;
   justify-content: center;
    border: 1px solid var(--primary_white_color);
    padding-inline: 0.5rem;
    padding-block: 0.3rem;
}
.hamburgerContainer{
   position: absolute;
   width: 65%;
   height: 5px;
   background-color: var(--primary_white_color);
   bottom: 1.1rem;
}
.hamburgerContainer::before{
   content:  ""; 
   position: absolute;
   width: 100%;
   height: 5px;
   top: -10px;
   background-color: var(--primary_white_color);
}
.hamburgerContainer::after{
   content:  ""; 
   position: absolute;
   width: 100%;
   height: 5px;
   top: 10px;
   background-color: var(--primary_white_color);
}

/* side bar here  */
.menu-items{
    position: fixed;
    right: -100rem;
    height: 100vh;
    width: 70vw;
    background-color: var(--primary_white_color);
    border-left: 1px solid var(--paragraph_grey_color);
}
#input:checked ~ .menu-items{
    right: 0rem;
    transition: 0.3s ease;
}
.bizName{
    margin-top: 2rem;
    color: var(--primary_white_color);
}
.text_align{
    text-align: center;
}
.text_white{
    color: var(--primary_text_color);
}
.icon-close{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 2rem 1.5rem;
}
.icon-close img{
    height: 1.5rem;
}
.list-items{
    padding: 0 1rem;
}
.list-items li{
    padding-left: 2rem;
}
.items{
    list-style: none;
    padding-block: 0.7rem;
}
.items a{
    text-decoration: none;
    color: var(--main_link_color);
}
.button{
    background-color: var(--main_primary_color);
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 30px;
    margin-top: 0.5rem;
}
.button a{
    color: var(--primary_white_color);
    font-weight: 700;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}
.margin_bottom_null{
    margin-bottom: 0;
}
.flex{
    display: flex;
}
.flex_row{
    flex-direction: row;
}
.justify_centre{
    justify-content: center;
}
.justify_between{
    justify-content: space-between;
}
.gap{
    gap: 1rem;
}
.gap0{
    gap: 0.5rem;
}
.textPar_color{
    color: var(--paragraph_text_color);
}
.upperCase{
    text-transform: uppercase;
}
.letter_spacing{
    letter-spacing: 5px;
}
.text_decor{
    text-decoration: none;
}
.padding_bottom{
    padding-bottom: 0.5rem;
}

@media only screen and (min-width:578px) {
  
}