@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{

    /* #main primary colors */
    --main_primary_color: rgba(0,78, 152, 255);
    --main_primary1_color: hsl(122.42, 39.44%, 49.22%);
    --primary_white_color: #fff;
    --primary_black_color: rgb(8, 8, 8);
    --paragraph_grey_color: hsl(228, 12%, 75%);
    --primary_greyish_color: hsl(180, 7%, 80%);
    --primary_light_grey_color: hsl(228, 12%, 90%);
    --primary_covered_color: rgb(0, 0, 0, 0.6);
    --main_link_color: hsl(228, 12%, 20%);
    --primary_orange_color: rgb(196, 127, 0);
    --primary_cream_color: rgba(254, 240, 229, 255);
    --primary_blue_color: blue;
    --pimary_instagram_color: hsl(329, 70%, 58%);
}
body{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
.topContainer{
    background-color: var(--primary_greyish_color); 
    margin: 1rem 2.5%;
    z-index: 999;
    position: relative;
    border: 1px solid var(--primary_greyish_color);
    border-radius: 50px;
    align-items: center;
}
.topContainer.active{
    position: fixed;
    top: 0;
    width: 95%;
}
/* logo section here  */
.logoContainer img{
    height: 50px;
    margin-inline-start: 1rem;
    margin-block-start: 0.2rem;
    /* align-items: center; */
}

/* hamburger section here  */
#input{
    display: none;
}
.hamburgerElement{
    position: relative;
    width: 2rem;
    height: 1.5rem;
    display: inline-block;
    /* margin-top: 1.8rem; */
    margin-inline-end: 1rem;
    display: flex;
   justify-content: center;
    border-radius: 5px;
    padding-inline: 0.5rem;
    padding-block: 0.3rem;
}
.hamburgerContainer{
   position: absolute;
   width: 65%;
   height: 3px;
   background-color: var(--primary_black_color);
   bottom: 1rem;
}
.hamburgerContainer::before{
   content:  ""; 
   position: absolute;
   width: 100%;
   height: 3px;
   top: -8px;
   background-color: var(--primary_black_color);
}
.hamburgerContainer::after{
   content:  ""; 
   position: absolute;
   width: 100%;
   height: 3px;
   top: 8px;
   background-color: var(--primary_black_color);
}

/* side bar here  */
.menu-items{
    position: fixed;
    top: -40rem;
    height: 14.5rem;
    width: 95%;
    background-color: var(--primary_greyish_color);
    border: 1px solid var(--primary_greyish_color);
    margin-top: 20rem;
    margin-left: 0;
    font-weight: 700;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.menu-items.active{
    top: -14.7rem;
}
#input:checked ~ .menu-items{
    top: -14.7rem;
    transition: 0.3s ease;
}
.bizName{
    margin-top: 1.1rem;
    color: var(--primary_black_color);
}
.text_white{
    color: var(--primary_white_color);
}
.list-items{
    padding: 0 1rem;
    text-align: center;
}
.items{
    list-style: none;
    padding-block: 0.7rem;
}
.items a{
    text-decoration: none;
    color: var(--primary_black_color);
}
.button{
    outline: none;
    padding: 1rem 2rem;
    border-radius: 30px;
    margin-top: 0.5rem;
    background-color: transparent;
    border: 2px solid var(--primary_greyish_color);
}
.button a{
    font-weight: 700;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    color: var(--primary_greyish_color);
}
.textPar{
    color: var(--primary_greyish_color);
}
.btn_bg_col{
    border: none;
}
._btn_blue{
    background-color: var(--main_primary_color);
}
._btn_green{
    background-color: var(--main_primary1_color);
}
.btn_bg_col a{
    color: var(--primary_white_color);
}
.coverColor{
    height: 1000vh;
    width: 100%;
    display: none;
    z-index: 1;
    top: 0;
    position: fixed;
    background-color: var(--primary_covered_color);
}
.coverColor.open{
   display: block;
}
.section1{
    background-image: url(./background-crew-mobile.jpg);
    background-position: center;
    background-size: cover;
    padding: 18rem 1rem;
    top: -7rem;
    position: relative;
    z-index: -2;
}
.section0{
    margin-top: -5rem;
}
.textTop{
    color: var(--primary_orange_color);
    margin: 0;
    font-size: clamp(2.5rem, 2.5vw, 3rem);
}
.blogImg{
    max-width: 100%;
    border-radius: 15px;
}
.blogPost{
    font-size: clamp(2.5rem, 2.5vw, 3rem);
}
.ft-wt7{
    font-weight: 700;
}
.post{
    margin-bottom: 2rem;
}
.sectionPlan{
    background-color: var(--primary_cream_color);
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    border-radius: 30px 30px 0 0 ;
    margin-top: 5rem;
}
.cardContainer{
  background-color: var(--primary_white_color);
  border-radius: 30px;
  margin-bottom: 2rem;
}
.cardblog{
    background-color: var(--main_primary1_color);
    border-radius: 30px 30px 0 0;
}
.pad15{
    padding: 1.5rem;
}
.cardGrid{
    font-size: clamp(1.5rem, 2.5vw, 1.6rem);
    margin-bottom: 0;
    font-weight: 700;
}
.cardGrid1{
    margin-top: 0.5rem;
    color: var(--primary_white_color);
}
.amtPlan{
    font-weight: 700;
}
.ft-fam{
    font-size: clamp(1.2rem, 2.5vw, 1.4rem); 
}
.buttonCard {
  width: 100%;
  border-radius: 30px;
  padding: 1rem 1.5rem;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem); 
  font-weight: 700;
  margin-bottom: 2rem;
}
.questionContainer{
    margin-top: 0rem;
}
.blogPostQ {
    margin-top: 6rem;
}
.bolgRatio{
    overflow: hidden;
    width: 100%;
    margin-block: 8rem;
    background-color: var(--primary_white_color);
}
#blogImage{
    display: flex;
    animation: slides  10s infinite;
}
#blogImage img{
    width: 100%;
    height: auto;
    border-radius: 0;
}
@keyframes slides  {
    0% { transform: translateX(0);}
    20% { transform: translateX(0);}
    25% { transform: translateX(-100%);}
    45% { transform: translateX(-100%);}
    50% { transform: translateX(-200%);}
    70% { transform: translateX(-200%);}
    75% { transform: translateX(-300%);}
    85% { transform: translateX(-300%);}
    90% { transform: translateX(-300%);}
    95% { transform: translateX(-400%);}
    100% { transform: translateX(-400%);}
}
.imgSlide img:nth-child(1){
    animation-delay: 5s;
}
.btnDot{
    height: 5px;
    width: 5px;
    display: inline-block;
    border-radius: 100%;
    background-color: var(--main_primary_color);
}
.rating{
    margin-block: 3rem;
}
.rating h3{
    margin: 0.5rem 0 2rem 0;
}
.blueCol{
    color: var(--main_primary_color);
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}
.margin_blog1{
    margin-block: 1rem;
}
.userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.userInfo img{
    height: 5rem;
    border-radius: 100%;
}

.socialMedia{
    background-color: var(--primary_white_color);
    padding: 2rem 1rem;
    margin-top: 5rem;
    font-size: 3rem;
}
.soc{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.soc i:nth-child(1){
    color: var(--main_primary_color);
}
.soc i:nth-child(2){
    color: var(--primary_black_color);
}
.soc i:nth-child(3){
    color: var(--pimary_instagram_color);
}
.soc i:nth-child(4){
    color: var(--main_primary_color);
}
/* other necessary stylings here  */
.text_align{
    text-align: center;
}
.margin_bottom{
    margin-bottom: 1rem;
}
.margin_inline{
    margin-inline: 1rem;
}
.flex{
    display: flex;
}
.flex_row{
    flex-direction: row;
}
.justify_centre{
    justify-content: center;
}
.justify_between{
    justify-content: space-between;
}
.gap{
    gap: 1rem;
}
.gap0{
    gap: 0.5rem;
}
.textPar_color{
    color: var(--paragraph_text_color);
}
.upperCase{
    text-transform: uppercase;
}
.letter_spacing{
    letter-spacing: 5px;
}
.line_height{
    line-height: 1.5rem;
}
.line_height2{
    line-height: 2rem;
}
.text_decor{
    text-decoration: none;
}
.margin_top{
    margin-top: 2rem;
}
.padding_bottom{
    padding-bottom: 0.5rem;
}
.blogPostQ {
    margin-top: 6rem;
}

@media only screen and (min-width:578px) {

.menu-items {
  position: relative;
  width: 100%;
  top: 0;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  height: 0;
}
.hamburgerElement {
    display: none;
}
.list-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-inline: auto 0;
    padding: 0.1rem;
}
.button {
    margin-top: 0;
}
.logoContainer img {
    margin-inline-start: 0.1rem;
}
.blogGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 2rem;
}
.margin_inline {
    margin-inline: 0rem;
}
.marg_gid{
    margin-inline: 2rem;
}
#blogImage{
width: 70%;
}
#blogImage img{
width: 70%;
margin-inline: 1rem;
}
.questionContainer {
    margin-top: 0;
}
.blogPostQ {
    margin-top: 6rem;
}
.usersReply {
    margin-block: 0rem;
}
}


@media only screen and (min-width:678px) {
    .topContainer {
        margin-top: 2rem;
    }
    .list-items {
        gap: 2rem;
    }
}

@media only screen and (min-width:928px) {
    .marg_gid{
        margin-inline: 6rem;
    }
#blogImage{
    width: 50%;
    }
#blogImage img{
    width: 50%;
    }

}